
*.v2
*.vsidx
*.bin
*.apk
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.v2
*.bin
*.vsidx
ProteinePlusApp/.vs/ProteinePlusApp/FileContentIndex/read.lock
ProteinePlusApp/ProteinePlusApp/obj/Debug/net7.0-android/designtime/Resource.designer.cs
ProteinePlusApp/ProteinePlusApp/obj/Debug/net7.0/ProteinePlusApp.GeneratedMSBuildEditorConfig.editorconfig
